@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Da 2', sans-serif;
    font-size: 1em;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    overflow: hidden;          
}

#left {
    padding: 15px 0;
    background: #52445C;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

#left > a {
    height: 50px;
    padding: 8px 0;
    display: grid;
    place-items: center;
}

#left > a:hover {
    background: #312738;
}

#hdr {
    align-self: center;
    text-align: center;
}

.logo {
    margin-top: 20px;
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 50%;
    background: white;
    border: 5px solid yellow;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    overflow: hidden;
    /* position: relative; */
}

.logo > img {
    width: 100%;
    /* height: 100px;
    position: absolute;
    top: 0px;
    left: -13px; */
}