#right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 25px;
    padding: 10px 15%;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
}

#right::-webkit-scrollbar {
    display: none;
}

#right > * {
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#right > p, address {
    display: flex;
}

#right > address > * {
    width: 50%;
}

#right > p > * {
    width: 50%;
}